@font-face {
  font-family: 'Anton';
  src: url('./Anton-Regular.ttf') format('truetype');
}

:root {
  --color-primary: #F95738;
  --color-secondary: #0D3B66;
  --color-tertiary: #F4D35E;
  --color-grey: #141414;
  --color-lightgrey: #c4c4c4;
  --off-white: #EEF0F2;

  --font-hero: "Anton", sans-serif;

  --tiny: 2px;
  --small: 4px;
  --medium: 8px;
  --large: 16px;
  --x-large: 32px;

}

html {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  background: var(--off-white)
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--large);
  margin-bottom: var(--large);
  color: var(--color-secondary);
}

a, a:visited {
  color: var(--off-white)
}

button {
  display: flex;
  align-items: center;
  gap: var(--medium);
  background: var(--color-tertiary);
  color: var(--color-secondary);
  border: 1px solid var(--color-lightgrey);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 2rem;
  font-size: 18px;
  cursor: pointer;
}

input {
  background: white;
}

input:not([type='range']) {
  border: 1px solid var(--color-lightgrey);
  border-radius: 0.5rem;
  padding: 0.25rem;
  padding-inline: 0.5rem;
  height: 1.5rem;
  font-size: 1rem;
}

select {
  border: 1px solid var(--color-lightgrey);
  border-radius: 0.5rem;
  padding: var(--small);
  height: 2rem;
  font-size: 18px;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /* width: 15rem; */
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: white;
   border: 1px solid var(--color-lightgrey);
   border-radius: var(--medium);
   height: 1.5rem;  
   overflow: hidden;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -1px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: var(--color-secondary);
   height: 1.5rem;
   width: 1rem;
   /* border-radius: var(--large); */
}

input[type="range"]:focus::-webkit-slider-thumb {   
  /* border: 1px solid var(--off-white); */
  outline: 3px solid var(--color-tertiary);
  outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   /* background-color: var(--off-white); */
   border-radius: 0.5rem;
   height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   /* background-color: var(--off-white); */
   height: 1rem;
   width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--off-white);
  outline: 3px solid var(--off-white);
  outline-offset: 0.125rem; 
}
